<!-- delete.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Delete Product Error</title>
</head>
<body>
    <h1>Error Deleting Product</h1>
    <h2><%= error %></h2>
    <a href="/">Home</a>
</body>
</html>