<!-- This is the home page for the application. It contains links to the other pages. -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <ul>
        <li><a href="/stores">Stores</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/managers">Managers (MongoDB)</a></li>
    </ul>
</body>
</html>
