<!-- This for  displaying the stores-->
<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
  }
  th {
      background-color: #f2f2f2;
  }
</style>
<h1>Stores</h1>


<table>
  <thead>
    <tr>
      <th>SID</th>
      <th>Location</th>
      <th>MANAGER ID</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% stores.forEach(function(store) { %>
      <tr>
        <td>
          <%= store.sid %>
        </td>
        <td>
          <%= store.location %>
        </td>
        <td>
          <%= store.mgrid %>
        </td>
        <td>
          <a href="/stores/edit-store/<%= store.sid %>">Update</a>
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>

<a href="/">Home</a>