<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<h1>Stores</h1>
<a href="/add-store">Add Store</a>

<table>
  <thead>
    <tr>
      <th >SID</th>
      <th>Location</th>
      <th>MANAGER ID</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<stores.length; i++) {%>
    <tr>
      <td><%= stores[i].sid %></td>
      <td><%= stores[i].location %></td>
      <td><%= stores[i].manager_id %></td>
      <td>
        <a href="/edit-store/<%= stores[i].sid %>">Update</a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<a href="/">Home</a>
